.tlcClient-dashboard-summary {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    column-gap: 2%;
}

.tlcClient-dashboard-card {
    background: #ffffff;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    padding: 24px 18px;
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #E5E5E5, #E5E5E5);
    box-shadow: 0px 0px 4px 0px #00000040;
    text-align: left;
    margin-bottom: 40px;
}

.tlcClient-dashboard-card p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
    color: #6b6b6b;
}

.tlcClient-dashboard-card h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    color: #000000;
    margin-top: 6px;
    margin-bottom: 6px;
}


.client-profitabilty-graph-each {
    box-shadow: 0px 0px 4px 0px #00000040;
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #E5E5E5, #E5E5E5);
    border-radius: 12px;
    margin-bottom: 24px;
    padding: 12px;
    
}

.filter-dropdown {
    text-align: left !important;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    font-family: 'Inter';
}

.filter-search-input {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Inter;
    width: 100%;
}

.filter-search-input:focus {
    border-color: #6c4cdc;
}